*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
data/01_raw/companies.csv -filter -diff -merge -text
data/01_raw/data.csv -filter -diff -merge -text
data/01_raw/reviews.csv -filter -diff -merge -text
